{{ define "main" }}

<!-- hero area -->
{{ with .Params.banner }}
<section class="hero-section bg-cover position-relative overlay" {{ partial `bg-image.html` (dict `Src` .bg_image ) | safeHTMLAttr }}>
  <div class="hero-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h1 class="text-white mb-5 text-capitalize">{{ .title | markdownify }}</h1>
          <p class="text-light mb-4 mx-lg-5 px-lg-5 content">{{ .content | markdownify }}</p>
          {{ if .button_solid.enable }}
          {{ with .button_solid }}
          <a href="{{ .link | absLangURL }}" class="btn btn-primary m-2">{{ .label }}</a>
          {{ end }}
          {{ end }}

          {{ if .button_outline.enable }}
          {{ with .button_outline }}
          <a href="{{ .link | absLangURL }}" class="btn btn-outline-primary m-2">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<!-- /hero area -->

<!-- cta -->
{{ if .Params.cta.enable }}
{{ partial "components/cta.html" . }}
{{ end }}

<!-- about -->
{{ if .Params.about.enable }}
{{ with .Params.about }}
<section class="section bg-secondary-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0 pe-lg-5"> 
        {{ partial "image.html" (dict "Src" .image "Alt" "about") }}
      </div>
      <div class="col-md-6 ps-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /about -->

<!-- testimonial -->
{{ if .Params.testimonial.enable }}
{{ with .Params.testimonial }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .testimonial_item }}
      <div class="col-lg-4 col-md-6">
        <!-- Testimonial -->
        <div class="testimonial-item">
          <!-- Given Comment -->
          <div class="comment match-height content">
            {{ .content | markdownify }}
          </div>
          <div class="person">
            <div class="media d-flex">
              <!-- Person Image --> 
              {{ partial "image.html" (dict "Src" .image "Alt" .name) }}
              <div class="media-body">
                <h3 class="h5">{{ .name | markdownify }}</h3>
                <p class="mb-0">{{ .designation | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

<!-- service -->
{{ if .Params.service.enable }}
{{ with .Params.service }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .service_item }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 text-center hover-bg-secondary">
          <div class="card-body p-5">
            <i class="icon-rounded bg-primary text-white {{ .icon }} mb-4"></i>
            <h3 class="h4 card-title">{{ .title | markdownify }}</h3>
            <P class="card-text content">{{ .content | markdownify }}</P>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /service -->

<!-- clients -->
{{ partial "components/clients-logo-slider.html" . }}
<!-- /clients -->

{{ end }}