<section class="section-sm bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{i18n "client_slider_title"}}</h2>
      </div>
    </div>

    <div class="client-logo-slider swiper">
      <div class="swiper-wrapper align-items-center">
        {{ range site.Params.clients }}
        <div class="swiper-slide py-3">
          <div class="text-center px-2">
            {{ partial "image.html" (dict "Src" .logo "Alt" "client-logo" "Class" `d-unset`) }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>